
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    background-color:rgb(17, 17, 17);
    color:rgb(255, 255, 255);
}
/* share style */

.orange-color{
    color: rgb(230, 83, 60);
}

.btn-primary{
    background-color:#E6533C;
    padding: 18px 37px;
    border-radius: 46px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.btn-secondary{
    padding: 18px 37px;
    border-radius: 46px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color:rgb(17, 17, 17);
    border: 1px solid rgb(255, 255, 255);
}
/* header */

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin: 60px 100px;
}
/* nav */
.nav-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content{
    display: flex;
    /* border: 1px solid red; */
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 38px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding-right: 30px;
}
.bar{
    display: none;
}
.nav-list li{
    list-style: none;
    display: inline;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    /* margin-right: 45px; */
    text-align: center;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
.home{
    
    max-width: 92px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 45px;
    

}
.home li{
    background-color: rgb(230, 83, 60);
    text-align: center;
    height: 38px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 46px;
}
.nab-home{
    display:inline-block;
    height: 38px;
}

/* banner section */

#transfarret-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position:absolute;
    top: 18%;
    right:3%;
}

#transparret-sedond{
    position:absolute;
    bottom: 25%;
    right:70%;
    width: 50%;
}
.image-vedio{
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 170px;
    height: 60px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
.banner-image img{
    width: 80%;
}
.banner-image{
    margin-right: 40px;
    position: relative;
}
.transparret-text h3{
    font-size: 24px;
    margin:0;
    padding: 0;
}
.transparret-text h6{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 0;
} 
.transparret-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #E6533C;
}
.banner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 40px 100px;
    gap: 45px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.banner-title{
    font-size: 78px;
}
.banner-shape{
    font-size:78px;
    /* font-family: "Tangerine", cursive; */
    font-family: "Tangerine", cursive;
    font-weight: 700;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
}
.banner-content{
    max-width: 590px;
}
.banner-btn{
    display: flex;
}
.common-btn{
    width: 35%;
}
/* change habit */

.change-habit{
    margin: 140px 100px;
    text-align: center;
}
.habit-card{
    display: flex;
    margin: 70px auto;
}

.habit-title{
    font-size: 48px;
    margin: 20px auto;
}

.habit-description,.card-description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.card-description{
    width: 80%;
    /* text-align: center; */
}
.image-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.image-container img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.card-title{
    margin: 30px auto;
    text-align: center;
}





/* responsive */
/* mobile device */
@media screen and (max-width:576px) {
    .nav-list{
        border: none;
    }
    .habit-card{
        flex-direction: column;
    }
    .change-habit{
        margin: 140px 10px;
    }
    .image-container{
        margin-top: 50px;
    }
    .card-description{
        width: 68%;
        
    }
    .habit-description{
        width: 80%;
        margin: 0 auto;
    }
    .common-btn{
        width: 42%;
        font-size: 16px;
        padding: 12px 0px;
    }
    header{
        margin: 20px 10px;
    }
    .hidden{
        display:none;
    }
    .bar{
        display: inline;
    }
    .nav-ber{
        justify-content: space-between;
    }
    .banner{
        flex-direction: column;
        margin: 40px 15px;
    }
    .banner-image{
        margin: 0;
        
    }
    .banner-image img{
        width: 100%;
    }
    
#transfarret-first{
   
    top: 10%;
    right: 5%;
}

#transparret-sedond{
    
    top:45%;
    right:48%;
}
.banner-title{
    font-size: 48px;
}

}


/* teblet device */
@media screen and (min-width:577px) and (max-width:992px) {
    .habit-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 42px;
    }
    .banner-image {
        margin-right: 0px;
        margin-left: 40px;
    }
    .banner{
        flex-direction: column;
        margin: 40px 15px;
        align-items: center;
    }
    header{
        margin: 36px 24px;
    }
    .nav-list{
        gap: 24px;
    }
    .nav-list li{
        font-size: 16px;
    }
}